<div class="quote">
  <div class="quote__body">
    {{quote.content}}
  </div>
  <div class="quote__actions">
    <div {{action "upvote"}} class="btn btn-success">+</div>
    {{quote.voteBalance}}
    <div {{action "downvote"}} class="btn btn-danger">-</div>
    {{#if canEdit}}
      {{link-to 'Edit' 'quotes.edit' quote class="btn btn-default"}}
    {{/if}}
  </div>
</div>
