<div class="quote">
  <div class="quote__body"><blockquote><p>{{quote.content}}</p><footer>{{quote.user.name}}</footer></blockquote></div>
  <div class="quote__actions">
    <span class="quote__action">
      <div {{action "upvote"}} class="btn btn-success">+</div>
    </span>
    <span class="quote__action quote__vote-balance">
      {{quote.voteBalance}}
    </span>
    <span class="quote__action">
      <div {{action "downvote"}} class="btn btn-danger">-</div>
    </span>
    <span class="quote__edit">
      {{#if canEdit}}
        {{link-to 'Edit' 'quotes.edit' quote class="btn btn-default"}}
      {{/if}}
    </span>
  </div>
</div>
