<form>
  <div class="form-group">
    <label for="identification">Email address</label>
    {{input value=identification placeholder="Enter email" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    {{input value=password type="password" placeholder="Enter password" class="form-control"}}
  </div>
  <button {{action "authenticate"}} type="submit" class="btn btn-default">Login</button>
</form>
<div class="signup__link">
  {{link-to 'Signup' 'signup'}}
</div>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}
